In [2]:
import pandas as pd

# Metriche

Per ogni target trovate sotto un DataFrame in cui le colonne sono i modelli e le righe le metriche (accuracy e f1 weigthed). 

Per ogni target, copiate e incollate sul vostro jupyter il DataFrame che contiene i vostri modelli. Sostituite quindi i valori None (che uso come placeholders) con i valori corrispondenti. Controllate l'output e assicuratevi di aver inserito ogni valore al posto giusto! Assicuratevi anche di salvare i DataFrame con gli stessi nomi che uso qui. Preferibilmente, fate tutto nell'ultima cella del jupyter.

### DataFrame per Blerta

## IMPORT FILES CSV_Blerta

In [47]:
vocal_channel = pd.read_csv('vocal_channel_finale.csv')

In [48]:
vocal_channel.set_index([pd.Index(["Accuracy", "F1-Score (Weighted-Average)","fpr", "tpr", "auc"])], inplace = True)

In [49]:
sex = pd.read_csv('finale_sex.csv')

In [50]:
sex.set_index([pd.Index(["Accuracy", "F1-Score (Weighted-Average)","fpr", "tpr", "auc"])], inplace = True)

In [51]:
emotional_intensity = pd.read_csv('finale_emotional_intensity.csv')

In [52]:
emotional_intensity.set_index([pd.Index(["Accuracy", "F1-Score (Weighted-Average)","fpr", "tpr", "auc"])], 
                              inplace = True)

In [53]:
emotion = pd.read_csv('finale_emotion.csv')

In [54]:
emotion.set_index([pd.Index(["Accuracy", "F1-Score (Weighted-Average)"])],inplace = True)

# IMPORTS FILES CSV_Simone

In [3]:
vocal_channel_s = pd.read_csv("finale_vocalchannel_s.csv")

In [4]:
vocal_channel_s.set_index([pd.Index(["fpr", "tpr", "auc"])], inplace = True)

In [5]:
sex_s = pd.read_csv("finale_sex_s.csv")

In [6]:
sex_s.set_index([pd.Index(["fpr", "tpr", "auc"])], inplace = True)

In [7]:
emotional_intensity_s = pd.read_csv("finale_emotionalintensity_s.csv")

In [8]:
emotional_intensity_s.set_index([pd.Index(["fpr", "tpr", "auc"])], inplace = True)

In [55]:
# vocal_channel

vocal_channel_metrics_b = pd.DataFrame(columns=["LG", "RF", "DTB", "AB"], 
                       index=["Accuracy", "F1-Score (Weighted-Average)"])
vocal_channel_metrics_b.loc["Accuracy"] = [None, None, None, None]
vocal_channel_metrics_b.loc["F1-Score (Weighted-Average)"] = [None, None, None, None]
vocal_channel_metrics_b

                               LG    RF   DTB    AB
Accuracy                     None  None  None  None
F1-Score (Weighted-Average)  None  None  None  None

In [56]:
vocal_channel_metrics_b = vocal_channel.head(2)
vocal_channel_metrics_b

,LG,RF,DTB,AB
Accuracy,0.9759615384615384,0.9631410256410255,0.9503205128205128,0.9775641025641024
F1-Score (Weighted-Average),0.9760108359217332,0.963258010748313,0.9505499509142166,0.9776146153443396

In [57]:
# sex

sex_metrics_b = pd.DataFrame(columns=["LG", "RF", "DTB", "AB"], 
                       index=["Accuracy", "F1-Score (Weighted-Average)"])
sex_metrics_b.loc["Accuracy"] = [None, None, None, None]
sex_metrics_b.loc["F1-Score (Weighted-Average)"] = [None, None, None, None]
sex_metrics_b

                               LG    RF   DTB    AB
Accuracy                     None  None  None  None
F1-Score (Weighted-Average)  None  None  None  None

In [58]:
sex_metrics_b = sex.head(2)
sex_metrics_b

,LG,RF,DTB,AB
Accuracy,0.8509615384615384,0.8269230769230769,0.8173076923076923,0.8846153846153846
F1-Score (Weighted-Average),0.8477230086986185,0.8221715588486749,0.8126876125675405,0.8833099579242637

In [59]:
# emotional_intensity

emotional_intensity_metrics_b = pd.DataFrame(columns=["LG", "RF", "DTB", "AB"], 
                       index=["Accuracy", "F1-Score (Weighted-Average)"])
emotional_intensity_metrics_b.loc["Accuracy"] = [None, None, None, None]
emotional_intensity_metrics_b.loc["F1-Score (Weighted-Average)"] = [None, None, None, None]
emotional_intensity_metrics_b

                               LG    RF   DTB    AB
Accuracy                     None  None  None  None
F1-Score (Weighted-Average)  None  None  None  None

In [60]:
emotional_intensity_metrics_b = emotional_intensity.head(2)
emotional_intensity_metrics_b

,LG,RF,DTB,AB
Accuracy,0.7740384615384616,0.7339743589743589,0.7419871794871795,0.7419871794871795
F1-Score (Weighted-Average),0.7738835600396468,0.7341473114668992,0.7393379603510937,0.7390116489187432

In [61]:
# emotion

emotion_metrics_b = pd.DataFrame(columns=["LG", "RF", "DTB", "AB"], 
                       index=["Accuracy", "F1-Score (Weighted-Average)"])
emotion_metrics_b.loc["Accuracy"] = [None, None, None, None]
emotion_metrics_b.loc["F1-Score (Weighted-Average)"] = [None, None, None, None]
emotion_metrics_b

                               LG    RF   DTB    AB
Accuracy                     None  None  None  None
F1-Score (Weighted-Average)  None  None  None  None

In [62]:
emotion_metrics_b = emotion.head()
emotion_metrics_b

                                   LG        RF       DTB        AB
Accuracy                     0.490385  0.418269  0.410256  0.350962
F1-Score (Weighted-Average)  0.434597  0.377902  0.385086  0.332695

### DataFrame per Simone

In [15]:
# vocal_channel

vocal_channel_metrics_s = pd.DataFrame(columns=["SVM", "GB"], 
                       index=["Accuracy", "F1-Score (Weighted-Average)"])
vocal_channel_metrics_s.loc["Accuracy"] = [0.975962, 0.982372]
vocal_channel_metrics_s.loc["F1-Score (Weighted-Average)"] = [0.976011, 0.982401]
vocal_channel_metrics_s

                                  SVM        GB
Accuracy                     0.975962  0.982372
F1-Score (Weighted-Average)  0.976011  0.982401

In [16]:
# sex

sex_metrics_s = pd.DataFrame(columns=["SVM", "GB"], 
                       index=["Accuracy", "F1-Score (Weighted-Average)"])
sex_metrics_s.loc["Accuracy"] = [0.897436, 0.876603]
sex_metrics_s.loc["F1-Score (Weighted-Average)"] = [0.896479, 0.875075]
sex_metrics_s

                                  SVM        GB
Accuracy                     0.897436  0.876603
F1-Score (Weighted-Average)  0.896479  0.875075

In [17]:
# emotional_intensity

emotional_intensity_metrics_s = pd.DataFrame(columns=["SVM", "GB"], 
                       index=["Accuracy", "F1-Score (Weighted-Average)"])
emotional_intensity_metrics_s.loc["Accuracy"] = [0.758013, 0.746795]
emotional_intensity_metrics_s.loc["F1-Score (Weighted-Average)"] = [0.758341, 0.747146]
emotional_intensity_metrics_s

                                  SVM        GB
Accuracy                     0.758013  0.746795
F1-Score (Weighted-Average)  0.758341  0.747146

In [18]:
# emotion

emotion_metrics_s = pd.DataFrame(columns=["SVM", "GB"], 
                       index=["Accuracy", "F1-Score (Weighted-Average)"])
emotion_metrics_s.loc["Accuracy"] = [0.496795, 0.479167]
emotion_metrics_s.loc["F1-Score (Weighted-Average)"] = [0.470739, 0.460462]
emotion_metrics_s

                                  SVM        GB
Accuracy                     0.496795  0.479167
F1-Score (Weighted-Average)  0.470739  0.460462

# ROC

Per costruire le ROC servono FPR e TPR, che si calcolano a partire dal vettore di probabilità:

In [22]:
y_pred_proba = model.predict_proba(X_test)[::,1]
fpr, tpr, _ = roc_curve(y_test,  y_pred_proba, pos_label=None) #pos_label va inizializzato (leggi sotto)

NameError: name 'nb' is not defined

NB: pos_label è la classe che vogliamo dichiarare come positive. Se non ci sono differenze importanti nella precision/recall dei modelli, penso si possa scegliere liberamente una delle due (ad es. per "vocal_channel" si prende o "speech" o "song"). Scegliete quella che preferite ma segnatevela da qualche parte (va riportata nel Latex).

Per l'AUC:

In [ ]:
auc = roc_auc_score(y_test, y_pred_proba)

Creo di nuovo un DataFrame per ogni target in cui le colonne sono i modelli e le righe fpr, tpr, e auc.

Per ogni target, copiate e incollate sul vostro jupyter il DataFrame che contiene i vostri modelli. Sostituite quindi i valori None (che uso come placeholders) con i valori corrispondenti. Assicuratevi sempre di salvare i DataFrame con gli stessi nomi che uso qui. Quando finite, caricate semplicemente il vostro file su GitHub.

## DataFrame per Blerta

In [24]:
# vocal_channel   

#pos_label = speech

vocal_channel_roc_b = pd.DataFrame(columns=["LG", "RF", "DTB", "AB"], 
                       index=["fpr", "tpr", "auc"])
vocal_channel_roc_b.loc["fpr"] = [None, None, None, None]
vocal_channel_roc_b.loc["tpr"] = [None, None, None, None]
vocal_channel_roc_b.loc["auc"] = [None, None, None, None]
vocal_channel_roc_b

       LG    RF   DTB    AB
fpr  None  None  None  None
tpr  None  None  None  None
auc  None  None  None  None

In [63]:
vocal_channel_roc_b = vocal_channel.tail(3)
vocal_channel_roc_b

,LG,RF,DTB,AB
fpr,[0. 0. 0. 0.00378788 0...,[0. 0. 0. 0.00378788 0...,[0. 0. 0. 0. 0...,[0. 0. 0. 0.00378788 0...
tpr,[0. 0.00277778 0.84444444 0.84444444 0...,[0. 0.00277778 0.78055556 0.78055556 0...,[0. 0.19444444 0.31111111 0.31944444 0...,[0. 0.00277778 0.90833333 0.90833333 0...
auc,0.9985690235690236,0.9966540404040405,0.9950494528619529,0.9977693602693603

In [25]:
# sex

#pos_label = M

sex_roc_b = pd.DataFrame(columns=["LG", "RF", "DTB", "AB"], 
                       index=["fpr", "tpr", "auc"])
sex_roc_b.loc["fpr"] = [None, None, None, None]
sex_roc_b.loc["tpr"] = [None, None, None, None]
sex_roc_b.loc["auc"] = [None, None, None, None]
sex_roc_b

       LG    RF   DTB    AB
fpr  None  None  None  None
tpr  None  None  None  None
auc  None  None  None  None

In [64]:
sex_roc_b = sex.tail(3)
sex_roc_b

,LG,RF,DTB,AB
fpr,[0. 0. 0. 0.00320513 0...,[0. 0. 0. 0.00378788 0...,[0. 0.01282051 0.01282051 0.01282051 0...,[0. 0. 0. 0.00320513 0...
tpr,[0. 0.00320513 0.85897436 0.85897436 0...,[0. 0.00277778 0.78055556 0.78055556 0...,[0. 0.41666667 0.41987179 0.43910256 0...,[0. 0.00320513 0.63141026 0.63141026 0...
auc,0.9927576429980276,0.9966540404040405,0.9541522846811309,0.9890183267587114

In [26]:
# emotional_intensity

#pos_label = normal

emotional_intensity_roc_b = pd.DataFrame(columns=["LG", "RF", "DTB", "AB"], 
                       index=["fpr", "tpr", "auc"])
emotional_intensity_roc_b.loc["fpr"] = [None, None, None, None]
emotional_intensity_roc_b.loc["tpr"] = [None, None, None, None]
emotional_intensity_roc_b.loc["auc"] = [None, None, None, None]
emotional_intensity_roc_b

       LG    RF   DTB    AB
fpr  None  None  None  None
tpr  None  None  None  None
auc  None  None  None  None

In [65]:
emotional_intensity_roc_b = emotional_intensity.tail(3)
emotional_intensity_roc_b

,LG,RF,DTB,AB
fpr,[0. 0. 0. 0.00347222 0...,[0. 0. 0. 0.00347222 0...,[0. 0.01282051 0.01282051 0.01282051 0...,[0. 0. 0. 0.00347222 0...
tpr,[0. 0.00297619 0.07142857 0.07142857 0...,[0. 0.12797619 0.14583333 0.14583333 0...,[0. 0.41666667 0.41987179 0.43910256 0...,[0. 0.00297619 0.13095238 0.13095238 0...
auc,0.8625475363756614,0.8385623346560847,0.9541522846811309,0.8230406746031746

## DataFrame per Simone

In [9]:
# vocal_channel

vocal_channel_roc_s = pd.DataFrame(columns=["SVM", "GB"], 
                       index=["fpr", "tpr", "auc"])
vocal_channel_roc_s.loc["fpr"] = [None, None]
vocal_channel_roc_s.loc["tpr"] = [None, None]
vocal_channel_roc_s.loc["auc"] = [None, None]
vocal_channel_roc_s

      SVM    GB
fpr  None  None
tpr  None  None
auc  None  None

In [10]:
vocal_channel_roc_s = vocal_channel_s
vocal_channel_roc_s

,SVM,GB
fpr,[0. 0. 0. 0.00378788 0...,[0. 0. 0. 0.00378788 0...
tpr,[0. 0.08333333 0.81666667 0.81666667 0...,[0. 0.00277778 0.69722222 0.69722222 0...
auc,0.9985269360269361,0.9980534511784512

In [11]:
# sex

sex_roc_s = pd.DataFrame(columns=["SVM", "GB"], 
                       index=["fpr", "tpr", "auc"])
sex_roc_s.loc["fpr"] = [None, None]
sex_roc_s.loc["tpr"] = [None, None]
sex_roc_s.loc["auc"] = [None, None]
sex_roc_s

      SVM    GB
fpr  None  None
tpr  None  None
auc  None  None

In [12]:
sex_roc_s = sex_s
sex_s

,SVM,GB
fpr,[0. 0. 0. 0.00320513 0...,[0. 0. 0. 0.00320513 0...
tpr,[0. 0.00320513 0.61217949 0.61217949 0...,[0. 0.00320513 0.61858974 0.61858974 0...
auc,0.9886279585798817,0.9887204142011835

In [13]:
# emotional_intensity

emotional_intensity_roc_s = pd.DataFrame(columns=["SVM", "GB"], 
                       index=["fpr", "tpr", "auc"])
emotional_intensity_roc_s.loc["fpr"] = [None, None]
emotional_intensity_roc_s.loc["tpr"] = [None, None]
emotional_intensity_roc_s.loc["auc"] = [None, None]
emotional_intensity_roc_s

      SVM    GB
fpr  None  None
tpr  None  None
auc  None  None

In [14]:
emotional_intensity_roc_s = emotional_intensity_s
emotional_intensity_roc_s

,SVM,GB
fpr,[0. 0. 0. 0.00347222 0...,[0. 0. 0. 0.00347222 0...
tpr,[0. 0.00297619 0.03571429 0.03571429 0...,[0. 0.00297619 0.05059524 0.05059524 0...
auc,0.845413773148148,0.8520688657407408